{
  "file": 1, 
  "format": 1
}{
  "sidebar_show_zero": false, 
  "show_session_speed": false, 
  "pwd_sha1": "$DELUGE_PWD_SHA1", 
  "show_sidebar": true, 
  "sessions": {
  }, 
  "enabled_plugins": [], 
  "base": "/", 
  "first_login": false, 
  "theme": "gray", 
  "pkey": "ssl/daemon.pkey", 
  "default_daemon": "", 
  "cert": "ssl/daemon.cert", 
  "session_timeout": 3600, 
  "https": false, 
  "interface": "0.0.0.0", 
  "sidebar_multiple_filters": true, 
  "pwd_salt": "$DELUGE_PWD_SALT", 
  "port": 8112
}
